<%- include header %>
	<style>
      .details-logo {
        width: 72px; 
        height: 72px;
      }
      .details-title {
        margin-left:25px;
      }
      .details-code {
        width: 230px; 
        height: 230px;
      }
      .code_label {
        margin-left: 55px;
      }
      .detail-desc {
        text-indent: 1em;
      }
    </style>
  </head>
  
  <body>
    <header class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">微信导航</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="../getting-started">首页</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="请输入公众号...">
            <button type="submit" class="btn btn-success">搜索</button>
          </form>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <img class="img-thumbnaid details-logo" alt="default" src="http://www.weixinju.com/uploadfile/2012/1009/20121009045208675.jpg">
        </div>
        <div class="col-md-6">
          <h3 class="details-title">朗阁培训中心</h3>
          <dl class="dl-horizontal">
            <dt>微信号：</dt>
            <dd>gh_91f32369e93e</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>账号类型：</dt>
            <dd>订阅号</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>地区：</dt>
            <dd>上海市 > 徐汇区</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>网站地址：</dt>
            <dd><a href="http://www.longre.cn/">http://www.longre.cn/</a></dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>收录时间：</dt>
            <dd>2012-10-09 16:54:34</dd>
          </dl>
        </div>
        <div class="col-md-5">
          <img class="img-thumbnaid details-code" alt="default" src="http://www.weixinju.com/uploadfile/2012/1009/20121009045221545.jpg">
          <p class="code_label">二维码扫描订阅</p>
        </div>
      </div>
      
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">微信描述：</h3>
          </div>
          <div class="panel-body">
            <p class="detail-desc">
            朗阁培训中心，朗阁教育集团旗下英语教育旗舰品牌。成立于1999年，是中国最大的雅思、新托福培训基地之一。总部位于上海，目前在上海、北京、南京、无锡 、苏州、常州、镇江、青岛、济南、杭州、宁波、温州、厦门、福州、广州、成都、重庆、武汉、海口、长沙、兰州、桂林、南昌、大连、扬州、南宁和石家庄等28个城市拥有至少50个校区，总教学面积超过80000平方米，每年学员数量超过100000人，形成完善的全国教学服务网络。
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>