<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">微信导航</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">首页</a>
        </li>
      </ul>
      <form action="/wxuser/search" method="post" class="navbar-form navbar-right">
        <input type="text" class="form-control" name="keywords" placeholder="请输入公众号...">
        <button type="submit" class="btn btn-success">搜索</button>
      </form>
    </nav>
  </div>
</header>